<button mat-icon-button aria-label="Dashboard">
    <mat-icon style="color: rgb(30, 90, 160);" routerLink="/">home</mat-icon>
</button>
<mat-grid-list cols="12" rowHeight="100px" gutterSize="0px">
    <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]=colors[0] *ngIf="showSpinner">
    </mat-grid-tile>
    <mat-card class="my-card">
        <mat-card-header>
            <mat-card-title>Registration</mat-card-title>
        </mat-card-header>
        <div *ngIf="registerError"  class="loginErrMsg">Failed to Register the User.</div>

        <mat-card-content>
            <!-- The form goes here -->
            <form class="my-form">
                <mat-tab-group>
                    <mat-tab label="MigrantsEmployment" class="my-tab">
                        <table style="width: 100%" cellspacing="100">
                            <tr>
                                <td>
                                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                                    <div class="move-left">
                                        <mat-form-field class="extend-element">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="Name" [(ngModel)]="fname" name="fname" required/>
                                            <!--<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">	
                                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                                </div>-->
                                        </mat-form-field>
                                        </div>
                                    </mat-grid-tile>
                                </td>
                                <td>
                                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                                            <div class="move-left">
                                        <mat-form-field class="extend-element">
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="Name" [(ngModel)]="mname" name="mname">
                                        </mat-form-field>
                                            </div>
                                    </mat-grid-tile>
                                </td>

                                <td>
                                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                                            <div class="move-left">
                                        <mat-form-field class="extend-element">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="Name" [(ngModel)]="lname" name="lname" required>
                                        </mat-form-field>
                                        </div>
                                    </mat-grid-tile>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                                            <div class="move-left">
                                        <mat-form-field class="extend-element">
                                            <mat-label>Mobile Number</mat-label>
                                            <input matInput placeholder="+91" [(ngModel)]="mob" (keypress)="keyPress($event)"  name="mob" minlength=10 maxlength=10 required>
                                        </mat-form-field>
                                        </div>
                                    </mat-grid-tile>
                                </td>
                            </tr>


                            <td>
                                <mat-grid-tile [colspan]="4" [rowspan]="1">
                                        <div class="move-left">
                                    <mat-form-field class="extend-element">
                                        <mat-label>Alternate Mobile Number</mat-label>
                                        <input matInput placeholder="+91" [(ngModel)]="amob" (keypress)="keyPress($event)"  name="amob" minlength=10 maxlength=10 >
                                    </mat-form-field> 
                                    </div>
                                </mat-grid-tile>
                            </td>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"> </mat-grid-tile>



                            <td>
                                <mat-grid-tile [colspan]="4" [rowspan]="1">
                                        <div class="move-left">
                                    <mat-label>Gender :</mat-label>
                                    <mat-radio-button value="1" required>Male</mat-radio-button>
                                    <mat-radio-button value="2" required>Female</mat-radio-button>
                                        </div>
                                </mat-grid-tile>
                            </td>


                            <mat-grid-tile [colspan]="4" [rowspan]="1"> </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-form-field appearance="fill" class="extend-element">
                                    <mat-label>Current Address</mat-label>
                                    <textarea matInput [(ngModel)]="address" name="address" placeholder="address" required></textarea>
                                </mat-form-field>
                             </div>   
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                             <div class="move-left">
                                <mat-form-field appearance="fill" class="extend-element">
                                    <mat-label>Permanent Address</mat-label>
                                    <textarea matInput [(ngModel)]="paddress" name="paddress" placeholder="paddress" required></textarea>
                                </mat-form-field>
                            </div>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput placeholder="(mm/dd/yyyy)" [(ngModel)]="dob" name="dob" required>
                                </mat-form-field>
                            </div>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-form-field class="extend-element"> 
                                    <mat-label>Aadhar Number(Preferred)</mat-label>
                                    <input matInput placeholder="anumber" [(ngModel)]="anumber" name="anumber" maxlength=12>
                                </mat-form-field>
                            </div>   
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                    <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Skills Set</mat-label>
                                    <input matInput [(ngModel)]="SkillsSet" placeholder="SkillsSet"  name="SkillsSet" required>
                                </mat-form-field>
                                </div>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-label>Employed/Unemployed : </mat-label>
                                <mat-checkbox>Yes</mat-checkbox>
                                <mat-checkbox>No</mat-checkbox>
                            </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                    <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Work Experience</mat-label>
                                    <input matInput placeholder="workexperience" [(ngModel)]="workexperience" name="workexperience">
                                </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                             <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Education</mat-label>
                                    <input matInput placeholder="Education" [(ngModel)]="Education" name="Education" required>
                                </mat-form-field>
                                </div>
                            </mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Highest Education</mat-label>
                                    <input matInput placeholder="" [(ngModel)]="hedu" name="hedu">
                                </mat-form-field>
                            </div>   
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <!-- <mat-select (change)="selectInput($event)">-->
                                <mat-label> Daily waged employee: </mat-label>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <!-- </mat-select>-->
                             </div>   
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <div class="form-group" *ngIf="!isNameSelected">
                                        <mat-label>Company</mat-label>
                                        <input matInput="text" class="form-control" id="address">
                                    </div>
                                </mat-form-field>
                            </div>   
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>


                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                             <div class="move-left">
                                <mat-label> Relocate : </mat-label>
                                <mat-radio-button value="1" required>Yes</mat-radio-button>
                                <mat-radio-button value="2" required>No</mat-radio-button>
                             </div>   
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
                            <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                             <div class="move-left">
                                <mat-form-field class="extend-element">
                                    <mat-label>Family count</mat-label>
                                    <input matInput [(ngModel)]="Familycount" placeholder="Familycount" name="Familycount" required>
                                </mat-form-field>
                             </div>    
                            </mat-grid-tile>

                        </table>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <!--<button mat-raised-button (click)="Register()" color="primary">Register</button> -->
            <button class="btnWidth" color="primary" (click)="save();" mat-raised-button>Save</button>
            <button class="btnWidth" color="primary" (click)="cancel()" mat-raised-button>Cancel</button>
        </mat-card-actions>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        <p class="error">{{error}}</p>
        </mat-grid-tile>
    </mat-card>

</mat-grid-list>